@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important;
}
.fw-300{
    font-weight: 300 !important;
}
.fw-500{
    font-weight: 500 !important;
}
.fw-600{
    font-weight: 600 !important;
}
.bg-color{
    background-color: rgb(17, 10, 32);
}
.home-wrapper{
    backdrop-filter: blur(50px);
    overflow-x: hidden;
}
.circle1,
.circle2{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    filter: blur(100px);
    position: absolute;

}
.circle1{
    top: 50%;
    right: 10%;
    background-color: rgb(174, 0, 180);
    animation: circle2 2s infinite forwards ease;
}


.circle2{
    top: 30%;
    right: 30%;
    background-color: rgb(0, 180, 165);
    animation: circle2 3s infinite forwards ease;
}
.upper-circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(255, 0, 85, 0.253);
    text-align: center;
    font-size: 40px;
    color: rgb(246, 202, 255);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.116);
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.301);
}
.upper-circle::before{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: "";
    position: absolute;
    z-index: -1;
    border: 1.5px solid rgba(255, 255, 255, 0.527);
    transition: 0.3s ease-in-out;
    opacity: 0;
    animation: upper-circle 3s infinite forwards ease;

}
.upper-circle::after{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: "";
    position: absolute;
    z-index: -1;
    border: 1.5px solid rgba(255, 255, 255, 0.527);
    transition: 0.3s ease-in-out;
    opacity: 0;
    animation: upper-circle 3s 0.3s infinite forwards ease;

}
@keyframes upper-circle {
    0%{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    50%{
        width: 160%;
        height: 160%;
        opacity: 0;
    }
    0%{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}
.main-text{
    line-height: 28px;
    width: 90%;
    font-size: 14px;
}
.sweet-button{
    position: relative;
    padding: 6px 30px;
    border: none;
    border-radius: 25px;
    color: white;
    background: linear-gradient(135deg, rgb(255, 1, 98), rgb(255, 46, 175));
    transition: 0.5s ease-in-out;
    font-size: 20px;
    animation: up-down 6s infinite forwards ease;
}
@keyframes up-down {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes circle1 {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes circle2 {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}
.sweet-button::before{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    border: 1.5px solid rgba(255, 27, 225, 0.527);
    transform: rotate(12deg);
    transition: 0.3s ease-in-out;
}

.sweet-button:hover::before{
    transform: rotate(0);
}
.nft-compress{
    margin-top: 60px;
    width: 300px;

}


@media (max-width: 500px) {
    .home-wrapper{
        backdrop-filter: blur(2px);
    }
}